<div class="right-container">
  <h1>Report Details</h1>
  <%@reports.each do |report|%>
    <h2><%= report.student.first_name %></h2>
    <h2><%= report.assignment %></h2>
    <h3><%= report.date.strftime("%A, %m/%d/%Y") %></h3>
    <h5>Grade: <%= Report.grade(report.id) %>%</h5>
    <h5><%= link_to "report", "/reports/#{report.id}"%></h5>
    <hr>
    <% end %>
</div>