<h1>Register</h1>
  <%= form_for @user do |f| %>
  <div class="field">
    <%= f.text_field :first_name, placeholder: "First Name",html:{class:"test"} %>
    <br>

    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <br>

    <%= f.email_field :email, placeholder: "Email" %>
    <br>

    <%= f.password_field :password, placeholder:"Password (min. 6 characters" %><br>

    <%= f.submit %>
  </div>
  <% end %>

  <% if @user.errors.any? %>
      <h2>Sorry, please fix the following <%= pluralize(@user.errors.count,"error")%></h2>
    <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>