<%= form_for @parent, html:{class:'form-signin'} do |f| %>
  <% if @parent.save === false %>
    <h2 class="form-signin-heading">Add Parent</h2>
  <% else %>
    <h2 class="form-signin-heading">Edit Parent</h2>
  <% end %>

  <%= f.label :first_name,class:"sr-only" %>
  <%= f.text_field :first_name,class:'form-control', placeholder: "First Name" %>

  <%= f.label :last_name,class:"sr-only" %>
  <%= f.text_field :last_name,class:'form-control', placeholder: "Last Name" %>

  <%= f.email_field :email, id:'inputEmail',class:'form-control', placeholder: "Email address" %>

  <%= f.submit 'Submit',class:'btn btn-lg btn-primary btn-block' %>
<% end %>