<div class="right-container">
  <h1>Parents</h1>
  <h4><%= link_to "Add a Parent", new_parent_path, class:'add-student' %></h4>
  <% if !@parents.empty? %>
    <p class="note"> <b>NOTE</b>: Once a student is added, he/she will appear under corresponding parents name. </p>
  <% end %>
  <div class="student-container">
    <% @parents.each do |parent| %>
      <div class="student-box pretty-report center">
        <h5><%= parent.first_name.capitalize + " " + parent.last_name[0]+"."%></h5>
            <% parent.children.each do |child| %>
              <div><%= link_to child.first_name.capitalize, "/students/#{child.id}" %></div>
            <% end %>
            <%= link_to "Edit", "/parents/#{parent.id}/edit", class:"link"%> |
            <%= link_to "Delete", "/parents/#{parent.id}", method: 'delete',data: {confirm: " Are you sure?"},class:"link" %>

      </div>
    <% end %>
  </div>
</div>