<div class="right-container">
  <h1>Report</h1>
  <h5>Grade: <%= Report.grade(@report.id)%> %</h5>
  <div>
    <div>
      <h3>Performance(<%= Report.performance_score(@report.id) %> out of <%= Report.performance_total_score %> )</h3>
      <li>Skill Improvement (Tests + Quizes): <%= @report.test_quizes %>/11</li>
      <li>Homework: <%= @report.homework %>/11</li>
      <li>Classwork: <%= @report.classwork %>/11</li>
    </div>
    <div>
      <h3>Participation(<%= Report.participation_score(@report.id) %> out of <%= Report.participation_total_score %>)</h3>
      <li>Punctuality/Attendance: <%= @report.punctuality_attendance %>/11</li>
      <li>Contributions: <%= @report.contributions %>/11</li>
      <li>Collaboration/Cooperation: <%= @report.collab_coop %>/11</li>
    </div>
    <div>
      <h3>Commitment (<%= Report.commitment_score(@report.id) %> out of <%= Report.commitment_total_score %>)</h3>
      <li>Openness to feedback: <%= @report.openness_to_feedback %>/10</li>
      <li>Consistently Good Effort: <%= @report.consistently_good_effort %>/14</li>
      <li>Takes Responsibility: <%= @report.takes_responsibility %>/10</li>
    </div>

    <div>
      <li>Feedback: <%= @report.feedback %></li>
    </div>
  </div>

</div>