<!DOCTYPE html>
<html>
  <head>
    <title>Reportify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Reportify",root_path %></h1>
        <div class='nav'>
          <ul>
              <% if !signed_in? %>
                <li><%= link_to "Sign_up", new_user_path %> </li>
                <li><%= link_to "Log in", new_session_path %></li>
              <% else %>
                <li><%= link_to current_user.email%></li>
                <li><%= link_to "Log out", logout_path, method:"delete" %> </li>
              <% end %>
          </ul>
        </div>
    </header>
    <div class="sidebar border">
      <div>
        <ul>
              <% if !signed_in? %>
                <li><%= link_to "Sign_up", new_user_path %> </li>
                <li><%= link_to "Log in", new_session_path %></li>
              <% else %>
                <li><%= link_to current_user.email%></li>
                <li><%= link_to "Log out", logout_path, method:"delete" %> </li>
              <% end %>
          </ul>
      </div>
    </div>
    <div class="container border">
      <%= yield %>
    </div>
    <div class="students"></div>
  </body>
</html>
